<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RiotServlet</servlet-name>
  	<display-name>RiotServlet</display-name>
  	<description></description>
  	<servlet-class>com.riotgames.tftanalytics.controller.RiotServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RiotBestPlayersServlet</servlet-name>
  	<display-name>RiotBestPlayersServlet</display-name>
  	<description></description>
  	<servlet-class>com.riotgames.tftanalytics.controller.RiotBestPlayersServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RiotProfile</servlet-name>
  	<display-name>RiotProfile</display-name>
  	<description></description>
  	<servlet-class>com.riotgames.tftanalytics.controller.RiotProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RiotServlet</servlet-name>
  	<url-pattern>/riotservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RiotBestPlayersServlet</servlet-name>
  	<url-pattern>/riotbestplayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RiotProfile</servlet-name>
  	<url-pattern>/riotprofile</url-pattern>
  </servlet-mapping>
</web-app>
